.burger-menu-button {
  position: absolute;
  left: 18px;
  top: 10px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000D26;
  border: none;
  padding: 0;
  transition: left 0.5s ease-in-out;
}

#burger span {
  width: 20px;
  height: 2px;
  background: white;
  position: absolute;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

#burger span:nth-child(1) {
  top: 4px;
  left: 2px;
}

#burger span:nth-child(2) {
  top: 12px;
  left: 2px;
}

#burger span:nth-child(3) {
  top: 20px;
  left: 2px;
}

#burger.open {
  left: 275px;
  top: 10px;
}

#burger.open span:nth-child(1) {
  top: 12px;
  transform: rotate(45deg);
}

#burger.open span:nth-child(2) {
  opacity: 0;
}

#burger.open span:nth-child(3) {
  top: 12px;
  transform: rotate(-45deg);
}
