.lead__button {
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 5px;
  width: 288px;
  height: 44px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  text-align: center;
  background: transparent;
}
